
        /* variable declared */
        :root {
              --colors-brand-primary-dark: #71DDBD;
  --colors-brand-primary-dark: #205463;
  --colors-brand-primary-dark: #0000C9;
  --colors-brand-primary-main: #71DDBD;
  --colors-brand-primary-main: #2D807B;
  --colors-brand-primary-main: #1A1ACE;
  --colors-brand-primary-light: #EBFAF6;
  --colors-brand-primary-light: #C2F0E3;
  --colors-brand-primary-light: #CCCCF4;
  --colors-brand-secondary-main: #7838CC;
  --colors-brand-secondary-main: #7838CC;
  --colors-brand-secondary-main: #7838CC;
  --colors-brand-secondary-dark: #4A227E;
  --colors-brand-secondary-dark: #4A227E;
  --colors-brand-secondary-dark: #4A227E;
  --colors-brand-secondary-light: #E1B3FF;
  --colors-brand-secondary-light: #E1B3FF;
  --colors-brand-secondary-light: #E1B3FF;
  --colors-type-primary: #FFFFFF;
  --colors-type-primary: #06041F;
  --colors-type-primary: #06041F;
  --colors-type-secondary: #F5F5F5;
  --colors-type-secondary: #4B4B4B;
  --colors-type-secondary: #4B4B4B;
  --colors-type-tertiary: #F3F3F3;
  --colors-type-tertiary: #5E5E5E;
  --colors-type-tertiary: #5E5E5E;
  --colors-type-deactivated: #F3F3F3;
  --colors-type-deactivated: #868686;
  --colors-type-deactivated: #868686;
  --colors-grey-main: #9CA3AF;
  --colors-grey-main: #9CA3AF;
  --colors-grey-main: #9CA3AF;
  --colors-grey-dark: #ABB1BA;
  --colors-grey-dark: #585F69;
  --colors-grey-dark: #585F69;
  --colors-grey-light: #808792;
  --colors-grey-light: #F5F5F5;
  --colors-grey-light: #F5F5F5;
  --colors-interactive-default: #85E2C6;
  --colors-interactive-default: #205463;
  --colors-interactive-default: #0000C9;
  --colors-interactive-hover: #71DDBD;
  --colors-interactive-hover: #2D807B;
  --colors-interactive-hover: #1A1ACE;
  --colors-confirmation-active-2: #71DDBD;
  --colors-confirmation-active-2: #205463;
  --colors-confirmation-active-2: #205463;
  --colors-interactive-focus: #48D3AA;
  --colors-interactive-focus: #34CEA0;
  --colors-interactive-focus: #4D4DD9;
  --colors-interactive-disabled: #205463;
  --colors-interactive-disabled: #EBFAF6;
  --colors-interactive-disabled: #EEEEFF;
  --colors-confirmation-default: #85E2C6;
  --colors-confirmation-default: #007216;
  --colors-confirmation-default: #007216;
  --colors-confirmation-hover: #5DD8B3;
  --colors-confirmation-hover: #005C0C;
  --colors-confirmation-hover: #005C0C;
  --colors-confirmation-active: #004609;
  --colors-confirmation-active: #004609;
  --colors-confirmation-active: #004609;
  --colors-confirmation-focus: #008826;
  --colors-confirmation-focus: #008826;
  --colors-confirmation-focus: #008826;
  --colors-confirmation-disabled: #E8F8E9;
  --colors-confirmation-disabled: #E8F8E9;
  --colors-confirmation-disabled: #E8F8E9;
  --colors-destructive-default: #FD928F;
  --colors-destructive-default: #AB323A;
  --colors-destructive-default: #AB323A;
  --colors-destructive-hover: #F07675;
  --colors-destructive-hover: #8C252C;
  --colors-destructive-hover: #8C252C;
  --colors-destructive-active: #F87171;
  --colors-destructive-active: #FF5A5F;
  --colors-destructive-active: #FF5A5F;
  --colors-destructive-focus: #FFD0CC;
  --colors-destructive-focus: #C6454A;
  --colors-destructive-focus: #C6454A;
  --colors-destructive-disabled: #C6454A;
  --colors-destructive-disabled: #FFEFEE;
  --colors-destructive-disabled: #FFEFEE;
  --colors-warning-main: #EAC608;
  --colors-warning-main: #EAC608;
  --colors-warning-main: #EAC608;
  --colors-warning-light: #E0C46C;
  --colors-warning-light: #E0C46C;
  --colors-warning-light: #E0C46C;
  --colors-info-main: #26B256;
  --colors-info-main: #007216;
  --colors-info-main: #007216;
  --colors-info-light: #BAE8C0;
  --colors-info-light: #BAE8C0;
  --colors-info-light: #BAE8C0;
  --colors-success-main: #22C55E;
  --colors-success-main: #22C55E;
  --colors-success-main: #22C55E;
  --colors-success-light: #8CD799;
  --colors-success-light: #E8F8E9;
  --colors-success-light: #E8F8E9;
  --colors-error-main: #F87171;
  --colors-error-main: #F87171;
  --colors-error-main: #F87171;
  --colors-error-light: #FFB0AC;
  --colors-error-light: #FFB0AC;
  --colors-error-light: #FFB0AC;
  --colors-surface-surface-0: #181818;
  --colors-surface-surface-0: #F5F5F5;
  --colors-surface-surface-0: #F5F5F5;
  --colors-surface-surface-1: #13294B;
  --colors-surface-surface-1: #E7E7E7;
  --colors-surface-surface-1: #E7E7E7;
  --colors-surface-surface-2: #4B4B4B;
  --colors-surface-surface-2: #C6C6C6;
  --colors-surface-surface-2: #C6C6C6;
  --colors-surface-line: #5E5E5E;
  --colors-surface-line: #C6C6C6;
  --colors-surface-line: #C6C6C6;
  --colors-stroke-primary: #808792;
  --colors-stroke-primary: #ABB1BA;
  --colors-stroke-primary: #ABB1BA;
  --colors-stroke-secondary: #353940;
  --colors-stroke-secondary: #D7D7D9;
  --colors-stroke-secondary: #D7D7D9;
  --colors-stroke-tertiary: #4B4B4B;
  --colors-stroke-tertiary: #E7E7E7;
  --colors-stroke-tertiary: #E7E7E7;
  --corner-radius-null: 0px;
  --colors-pfizer-primary-50: #EEEEFF;
  --colors-pfizer-primary-100: #E6E6FA;
  --colors-pfizer-primary-200: #CCCCF4;
  --colors-pfizer-primary-300: #B3B3EF;
  --colors-pfizer-primary-400: #9999E9;
  --colors-pfizer-primary-500: #8080E4;
  --colors-pfizer-primary-600: #6666DF;
  --colors-pfizer-primary-700: #4D4DD9;
  --colors-pfizer-primary-800: #3333D4;
  --colors-pfizer-primary-900: #1A1ACE;
  --colors-pfizer-primary-color-base: #0000C9;
  --colors-purple-50: #FAF0FF;
  --colors-purple-100: #EFD1FF;
  --colors-purple-200: #E1B3FF;
  --colors-purple-300: #D097FF;
  --colors-purple-400: #BC7CFF;
  --colors-purple-500: #A763F8;
  --colors-purple-600: #904DE3;
  --colors-purple-700: #783BC7;
  --colors-purple-800: #612DA5;
  --colors-purple-900: #4A227E;
  --colors-purple-color-base: #7838CC;
  --colors-grey-50: #F5F5F5;
  --colors-grey-100: #E7E7E7;
  --colors-grey-200: #D7D7D9;
  --colors-grey-300: #ABB1BA;
  --colors-grey-400: #959CA6;
  --colors-grey-500: #808792;
  --colors-grey-600: #6C727E;
  --colors-grey-700: #585F69;
  --colors-grey-800: #464C55;
  --colors-grey-900: #353940;
  --colors-grey-color-base: #9CA3AF;
  --colors-white-50: #F3F3F3;
  --colors-white-100: #DDDDDD;
  --colors-white-200: #C6C6C6;
  --colors-white-300: #B0B0B0;
  --colors-white-400: #9B9B9B;
  --colors-white-500: #868686;
  --colors-white-600: #727272;
  --colors-white-700: #5E5E5E;
  --colors-white-800: #4B4B4B;
  --colors-white-900: #393939;
  --colors-white-color-base: #FFFFFF;
  --colors-red-50: #FFEFEE;
  --colors-red-100: #FFD0CC;
  --colors-red-200: #FFB0AC;
  --colors-red-300: #FD928F;
  --colors-red-400: #F07675;
  --colors-red-700: #DD5C5E;
  --colors-red-800: #C6454A;
  --colors-red-900: #AB323A;
  --colors-red-color-base: #8C252C;
  --colors-red-600: #FF5A5F;
  --colors-red-500: #F87171;
  --colors-green-50: #E8F8E9;
  --colors-green-100: #BAE8C0;
  --colors-green-200: #8CD799;
  --colors-green-300: #5DC575;
  --colors-green-400: #26B256;
  --colors-green-500: #009D3C;
  --colors-green-600: #008826;
  --colors-green-700: #007216;
  --colors-green-800: #005C0C;
  --colors-green-900: #004609;
  --colors-green-color-base: #22C55E;
  --colors-yellow-50: #FBF3E0;
  --colors-yellow-100: #F0DBA4;
  --colors-yellow-200: #E0C46C;
  --colors-yellow-300: #CDAF35;
  --colors-yellow-400: #B79900;
  --colors-yellow-500: #9F8500;
  --colors-yellow-600: #887100;
  --colors-yellow-700: #725D00;
  --colors-yellow-800: #5D4A00;
  --colors-yellow-900: #483800;
  --colors-yellow-color-base: #EAC608;
  --colors-black-50: #F3F3F3;
  --colors-black-100: #DDDDDD;
  --colors-black-200: #C6C6C6;
  --colors-black-300: #B0B0B0;
  --colors-black-400: #9B9B9B;
  --colors-black-500: #868686;
  --colors-black-600: #727272;
  --colors-black-700: #5E5E5E;
  --colors-black-800: #4B4B4B;
  --colors-black-900: #13294B;
  --colors-black-color-base: #06041F;
  --colors-surface-surface-base: #3AAB94;
  --colors-surface-surface-base: #C2F0E3;
  --colors-surface-surface-base: #CCCCF4;
  --colors-light-blue-50: #F0F3FE;
  --colors-light-blue-100: #CADDFF;
  --colors-light-blue-200: #A3C7FF;
  --colors-light-blue-300: #7AB2FF;
  --colors-light-blue-400: #4A9DFD;
  --colors-light-blue-500: #0089EE;
  --colors-light-blue-600: #0075D9;
  --colors-light-blue-700: #0061BE;
  --colors-light-blue-800: #004E9D;
  --colors-light-blue-900: #003B78;
  --colors-light-blue-color-base: #1B96FF;
  --colors-brown-50: #F6F3ED;
  --colors-brown-100: #E3DDC9;
  --colors-brown-200: #CFC7A7;
  --colors-brown-300: #BBB189;
  --colors-brown-400: #A69B6D;
  --colors-brown-500: #918756;
  --colors-brown-600: #7C7242;
  --colors-brown-700: #675F32;
  --colors-brown-800: #534C25;
  --colors-brown-900: #3F391B;
  --colors-brown-color-base: #A49966;
  --number-0: undefined;
  --number-2: 2px;
  --number-4: 4px;
  --number-8: 8px;
  --number-12: 12px;
  --number-16: 16px;
  --number-20: 20px;
  --number-24: 24px;
  --number-32: 32px;
  --number-40: 40px;
  --number-48: 48px;
  --number-56: 56px;
  --number-64: 64px;
  --number-80: 80px;
  --number-104: 104px;
  --spacing-null: 0px;
  --spacing-null: 0px;
  --spacing-xs: 8px;
  --spacing-xs: 6px;
  --spacing-s: 12px;
  --spacing-s: 6px;
  --spacing-md: 16px;
  --spacing-md: 8px;
  --spacing-lg: 20px;
  --spacing-lg: 12px;
  --spacing-xl: 24px;
  --spacing-xl: 12px;
  --spacing-xxl: 32px;
  --spacing-xxl: 16px;
  --corner-radius-xsmall: 4px;
  --corner-radius-small: 8px;
  --corner-radius-medium: 16px;
  --corner-radius-large: 32px;
  --corner-radius-xlarge: 40px;
  --corner-radius-xxlarge: 64px;
  --corner-radius-circle: 104px;
  --colors-miscellaneous-miscellaneous-text: #353940;
  --colors-miscellaneous-miscellaneous-text: #FFFFFF;
  --colors-miscellaneous-miscellaneous-text: #FFFFFF;
  --colors-surface-surface-selected-highlight: #C2F0E3;
  --colors-surface-surface-selected-highlight: #2D807B;
  --colors-surface-surface-selected-highlight: #1A1ACE;
  --number-36: 36px;
  --spacing-3xl: 36px;
  --spacing-3xl: 16px;
  --spacing-4xl: 40px;
  --spacing-4xl: 20px;
  --spacing-5xl: 48px;
  --spacing-5xl: 24px;
  --spacing-3xs: 4px;
  --spacing-3xs: 2px;
  --corner-radius-xxsmall: 2px;
  --colors-surface-surface: #1A1628;
  --colors-surface-surface: #FFFFFF;
  --colors-surface-surface: #FFFFFF;
  --spacing-2xs: 6px;
  --spacing-2xs: 4px;
  --number-6: 6px;
  --colors-light-red-50: #FFE4E4;
  --colors-light-red-100: #FFD3D3;
  --colors-light-red-200: #FFC3C3;
  --colors-light-red-300: #FFABAB;
  --colors-light-red-400: #FF9696;
  --colors-light-yellow-50: #FCFBF2;
  --colors-light-yellow-100: #F8F7E5;
  --colors-light-yellow-200: #FFFEE5;
  --colors-light-yellow-300: #FCF99A;
  --colors-light-yellow-400: #FEFC9E;
  --colors-light-green-50: #F6FFF6;
  --colors-light-green-100: #E4FED5;
  --colors-light-green-200: #D1F6B7;
  --colors-light-green-300: #20F3BF;
  --colors-light-green-400: #0FE9B3;
  --colors-sky-blue-50: #F7F7F7;
  --colors-sky-blue-100: #F5F8FF;
  --colors-sky-blue-200: #EEF3FD;
  --colors-sky-blue-300: #E1ECFF;
  --colors-sky-blue-400: #D2E0FB;
  --colors-charts-primary-color-1: #FF9696;
  --colors-charts-primary-color-1: #FF9696;
  --colors-charts-primary-color-1: #FF9696;
  --colors-charts-primary-color-2: #0FE9B3;
  --colors-charts-primary-color-2: #0FE9B3;
  --colors-charts-primary-color-2: #0FE9B3;
  --colors-charts-primary-color-3: #A3C7FF;
  --colors-charts-primary-color-3: #A3C7FF;
  --colors-charts-primary-color-3: #A3C7FF;
  --colors-charts-primary-color-4: #FEFC9E;
  --colors-charts-primary-color-4: #FEFC9E;
  --colors-charts-primary-color-4: #FEFC9E;
  --colors-charts-primary-color-5: #D097FF;
  --colors-charts-primary-color-5: #D097FF;
  --colors-charts-primary-color-5: #D097FF;
  --colors-orange-50: #FFF0E4;
  --colors-orange-100: #F4D9C5;
  --colors-orange-200: #FFD6A5;
  --colors-orange-300: #FFB781;
  --colors-orange-orange-400: #F49C57;
  --colors-charts-primary-color-6: #FFD6A5;
  --colors-charts-primary-color-6: #FFD6A5;
  --colors-charts-primary-color-6: #FFD6A5;
  --colors-charts-primary-color-7: #EFD1FF;
  --colors-charts-primary-color-7: #EFD1FF;
  --colors-charts-primary-color-7: #EFD1FF;
  --colors-charts-primary-color-8: #DA707F;
  --colors-charts-primary-color-8: #DA707F;
  --colors-charts-primary-color-8: #DA707F;
  --colors-light-red-500: #DA707F;
  --spacing-6xl: 64px;
  --spacing-6xl: 32px;
  --colors-miscellaneous-miscellaneous-text-2: #FFFFFF;
  --colors-miscellaneous-miscellaneous-text-2: #DDDDDD;
  --colors-miscellaneous-miscellaneous-text-2: #DDDDDD;
  --colors-miscellaneous-miscellaneous-text-3: #F3F3F3;
  --colors-miscellaneous-miscellaneous-text-3: #06041F;
  --colors-miscellaneous-miscellaneous-text-3: #06041F;
  --colors-light-blue-75: #CAF0F8;
  --colors-miscellaneous-miscellaneous-text-4: #3AAB94;
  --colors-miscellaneous-miscellaneous-text-4: #3AAB94;
  --colors-miscellaneous-miscellaneous-text-4: #0000C9;
  --colors-shadow-shadow-1: #F5F5F5;
  --colors-shadow-shadow-1: #D9D9D9;
  --colors-shadow-shadow-1: #D9D9D9;
  --colors-shadow-shadow-2: #9CA3AF;
  --colors-shadow-shadow-2: #D8D8D8;
  --colors-shadow-shadow-2: #D8D8D8;
  --colors-shadow-shadow-3: #9CA3AF;
  --colors-shadow-shadow-3: #CFCFCF;
  --colors-shadow-shadow-3: #CFCFCF;
  --colors-shadow-shadow-4: #585F69;
  --colors-shadow-shadow-4: #ACACAC;
  --colors-shadow-shadow-4: #ACACAC;
  --colors-black-black-shadow-5: #D9D9D9;
  --colors-black-black-shadow-6: #D8D8D8;
  --colors-black-black-shadow-10: #CFCFCF;
  --colors-black-black-shadow-25: #ACACAC;
  --colors-sky-blue-focused: #5DE4FD;
  --colors-light-green-500: #47D7AC;
  --colors-miscellaneous-hyperlink: #205463;
  --colors-miscellaneous-hyperlink: #3AAB94;
  --colors-miscellaneous-hyperlink: #1A1ACE;
  --colors-light-green-600: #4AEDCE;
  --colors-miscellaneous-icon-set: #EEEEFF;
  --colors-miscellaneous-icon-set: #FFFFFF;
  --colors-miscellaneous-icon-set: #0000C9;
  --font-family-zs-title: Mulish;
  --font-family-zs-body: Mulish;
  --font-weight-extra-light: Extra Light;
  --font-weight-light: Light;
  --font-weight-regular: Regular;
  --font-weight-medium: Medium;
  --font-weight-semibold: Semibold;
  --font-weight-bold: Bold;
  --font-weight-extra-bold: Extra Bold;
  --font-weight-black:   Black;
  --font-weight-extra-black: Extra Black;
  --font-size-xxs: 12px;
  --font-size-sm: 20px;
  --font-size-md: 24px;
  --font-size-lg: 32px;
  --font-size-xl: 40px;
  --font-size-2xl: 48px;
  --font-size-3xl: 56px;
  --font-size-4xl: 64px;
  --font-line-height-xxs: 20px;
  --font-line-height-xs: 24px;
  --font-line-height-s: 28px;
  --font-line-height-m: 36px;
  --font-line-height-l: 48px;
  --font-size-xs: 18px;
  --font-line-height-xl: 56px;
  --font-line-height-2xl: 64px;
  --font-line-height-3xl: 80px;
  --font-line-height-4xl: 96px;
  --colors-interactive-active: #5DD8B3;
  --colors-interactive-active: #3AAB94;
  --colors-interactive-active: #3333D4;
  --colors-surface-surface-dark: #1A1628;
  --colors-surface-surface-dark: #FFFFFF;
  --colors-surface-surface-dark: #FFFFFF;
  --colors-black-1000: #181818;
  --colors-black-1100: #000000;
  --colors-surface-surface-dl: #1A1628;
  --colors-surface-surface-dl: #000000;
  --colors-surface-surface-dl: #000000;
  --colors-surface-surface-base-2: #3AAB94;
  --colors-surface-surface-base-2: #2D807B;
  --colors-surface-surface-base-2: #1A1ACE;
  --colors-surface-surface-base-3: #F5F5F5;
  --colors-surface-surface-base-3: #D6F5EC;
  --colors-surface-surface-base-3: #E6E6FA;
  --colors-dark-purple-100: #1A1628;
  --zs-black-opacity: #000000;
  --zs-purple-opacity: #8F5AFF;
  --zs-black: #1A1628;
  --zs-shadow: #603FA9;
  --zs-stroke: #484553;
  --colors-surface-table-surface-1: #000000;
  --colors-surface-table-surface-1: #EBFAF6;
  --colors-surface-table-surface-1: #EEEEFF;
  --colors-surface-table-surface-2: #8F5AFF;
  --colors-surface-table-surface-2: #FFFFFF;
  --colors-surface-table-surface-2: #FFFFFF;
  --colors-miscellaneous-miscellaneous-text-grey: #A3A2A9;
  --colors-miscellaneous-miscellaneous-text-grey: #06041F;
  --colors-miscellaneous-miscellaneous-text-grey: #06041F;
  --zs-text-grey: #A3A2A9;
  --zs-tab-stroke: #000000;
  --zs-side-nav-stroke: #000000;
  --colors-stroke-stroke-side-nav: #484553;
  --colors-stroke-stroke-side-nav: #FFFFFF;
  --colors-stroke-stroke-side-nav: #FFFFFF;
  --colors-stroke-stroke-bottom-nav: #000000;
  --colors-stroke-stroke-bottom-nav: #D7D7D9;
  --colors-stroke-stroke-bottom-nav: #D7D7D9;
  --colors-shadow-shadow-zs: #603FA9;
  --colors-shadow-shadow-zs: #FFFFFF;
  --colors-shadow-shadow-zs: #FFFFFF;
  --colors-primary-50: #EBFAF6;
  --colors-primary-100: #D6F5EC;
  --colors-primary-200: #C2F0E3;
  --colors-primary-300: #85E2C6;
  --colors-primary-400: #71DDBD;
  --colors-primary-500: #5DD8B3;
  --colors-primary-600: #48D3AA;
  --colors-primary-700: #34CEA0;
  --colors-primary-800: #3AAB94;
  --colors-primary-900: #2D807B;
  --colors-primary-color-base: #205463;
  --purple-100: #CC99E5;
  --purple-200: #B280CC;
  --purple-300: #9966B2;
  --purple-400: #804D99;
  --purple-500: #663380;
  --purple-600: #4D1A66;
  --purple-700: #330D4D;
  --purple-800: #1A0033;
  --purple-900: #0D001A;
  --purple-base: #804D99;
  --blue-100: #99B2E5;
  --blue-200: #8099CC;
  --blue-300: #6680B2;
  --blue-400: #4D6699;
  --blue-500: #334D80;
  --blue-600: #1A3366;
  --blue-700: #0D1A4D;
  --blue-800: #000033;
  --blue-900: #00001A;
  --blue-base: #334D80;
        }
        